In [2]:
import pandas as pd
from datetime import datetime

df_list = []

for i in range(1, 31):
    try:
        filename = f'resources/transactions_summary ({i}).csv'
        df = pd.read_csv(filename)
        df_list.append(df)
        print(f'Successfully loaded file {filename}')
        # Perform any data analysis or manipulation you need
    except FileNotFoundError:
        pass

shake_data_df = pd.concat(df_list, ignore_index=True)
shake_data_df['Date'] = pd.to_datetime(shake_data_df['Date']).dt.strftime('%Y-%m-%d')
#Summary Spending
summary_spending_df = shake_data_df[shake_data_df['Amount Debited'] > 1]
summary_spending_df = summary_spending_df[['Amount Debited', 'Source / Destination','Date']]
summary_spending_df=summary_spending_df.dropna()
summary_spending_df = summary_spending_df[~summary_spending_df["Source / Destination"].isin(["MASSAGE ADDICT","guevarch@gmail.com","FREEDOM MOBILE", "yansunique@yahoo.ca", "CITY CENTRE BAPTIST", "GOOGLE YouTubePremium"])]
summary_spending_df = summary_spending_df.set_index('Amount Debited')
summary_spending_df.to_csv('resources/combined_summary.csv')
summary_spending_df.tail(80)

Successfully loaded file resources/transactions_summary (6).csv
Successfully loaded file resources/transactions_summary (7).csv

                   Source / Destination        Date
Amount Debited
13.55                   GOOGLE SERVICES  2023-04-30
72.82                         RCSS 1080  2023-05-01
49.22                     ESSO CIRCLE K  2023-05-01
79.09                      BEST BUY 622  2023-05-04
27.94                        METRO  854  2023-05-05
...                                 ...         ...
7.33                   TIM HORTONS 1405  2023-06-21
13.55           SHOPPERS DRUG MART 0845  2023-06-21
9.12                   TIM HORTONS 1405  2023-06-22
6.99                         METRO  854  2023-06-22
12.48                        METRO  854  2023-06-23

[80 rows x 2 columns]

In [4]:
import pandas as pd
from datetime import datetime

# Assuming 'df' is your original DataFrame
start_date = '2023-06-01'
end_date = datetime.today().strftime('%Y-%m-%d')
mask = (summary_spending_df['Date'] >= start_date) & (summary_spending_df['Date'] <= end_date)
filtered_df = summary_spending_df.loc[mask]
filtered_df.tail(50)

                    Source / Destination        Date
Amount Debited
11.63                       Subway 23972  2023-06-15
45.12                         METRO  854  2023-06-16
12.65                HARVEYS 0002353 QPS  2023-06-16
45.00                      ESSO CIRCLE K  2023-06-16
9.49                        CARTERS 3626  2023-06-17
73.92               DANFORTH FOOD MARKET  2023-06-18
1.08                 CLORE BEAUTY SUPPLY  2023-06-18
61.12                         METRO  854  2023-06-21
10.16                       Subway 23972  2023-06-23
2.00                     GOOGLE SERVICES  2023-06-01
6.83                              OPENAI  2023-06-01
7.63                        I HEART BOBA  2023-06-01
90.97                    AXIA RESTAURANT  2023-06-02
15.81               VILLA MADINA  DIN004  2023-06-03
4.40                       HATTENDO CAFE  2023-06-03
18.98                       CARTERS 3665  2023-06-03
30.00                      ESSO CIRCLE K  2023-06-03
112.44                         RCSS 1080  2023-06-04
7.20                    TIM HORTONS 8397  2023-06-06
25.00                      ESSO CIRCLE K  2023-06-06
10.40              METROLINX  GO TRANSIT  2023-06-07
26.00               PRESTO UNION STN STN  2023-06-07
11.49                   TIM HORTONS 8397  2023-06-07
50.00                  PRESTO DUNDAS STN  2023-06-07
50.00                  PRESTO DUNDAS STN  2023-06-07
7.35                             LE BEAU  2023-06-08
20.00                        PRESTO MOBL  2023-06-10
33.89                       BEST BUY 622  2023-06-10
53.68                     TOYS R US 3575  2023-06-10
29.27                 CHINA CHINA PALACE  2023-06-10
9.15                CORDI ITALIAN BAKERY  2023-06-10
20.00           SQ COLOMBIA GO TEAM GOSQ  2023-06-11
4.83                    TIM HORTONS 8397  2023-06-12
20.00                        PRESTO MOBL  2023-06-12
13.87                   TIM HORTONS 8397  2023-06-13
20.00                        PRESTO MOBL  2023-06-13
20.00                        PRESTO MOBL  2023-06-13
10.26                   TIM HORTONS 8397  2023-06-14
5.00                         PRESTO MOBL  2023-06-15
4.52                        CLUNY BISTRO  2023-06-15
8.53              BRICK STREET BAKERY DI  2023-06-15
10.00           PRESTO MEADOWVALE RELOAD  2023-06-15
15.81                JIMMY THE GREEK 052  2023-06-17
8.47               REAL FRUIT BUBBLE TEA  2023-06-17
71.18                   LOBLAW RCSS 1080  2023-06-18
7.33                    TIM HORTONS 1405  2023-06-21
13.55            SHOPPERS DRUG MART 0845  2023-06-21
9.12                    TIM HORTONS 1405  2023-06-22
6.99                          METRO  854  2023-06-22
12.48                         METRO  854  2023-06-23